body {
  background-color: rgb(255, 255, 204);
}
img.align-center {
  display: block;
  margin: 50px;
  width: 50%
}
img.small {
  width: 300px;
}
h1 {
  color: rgb(250, 122, 107);
  font-family: 'Cagliostro', sans-serif;
  font-size: 2.5em;
  text-align: center;
}
nav ul {
  background: rgb(250, 122, 107);
  margin: .5em;
  padding: 5px;
}
nav li {
  display: inline;
  font-family: 'Cagliostro', sans-serif;
  margin-right: 50px;
}
nav li a {
  color: rgb(255, 255, 204);
}
nav li a:hover {
  color: white;
}
table.sales {
  empty-cells: hide;
  margin: 1em;
}
table.sales td:hover { 
   color: red;
   font-weight: bold;
}
tr, td {
  border-bottom: 2px solid rgb(6, 105, 80);
}
td {
  background: rgb(235, 235, 224);
	padding: .75em;
}
th {
  background-color: rgb(104, 233, 201);
  font-weight: bold;
  padding: .5em;
  text-align: center;
}
input {
  border: 2px solid rgb(6, 105, 80);
  display: block;
  margin: .5em;
  padding: .25em;
}
input:hover {
  border: 2px solid red;
}
legend {
  color: rgb(6, 105, 80);
  font-family: 'Cagliostro', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: .5em;
}
p {
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  margin: .5em;
}
/*font-family: 'Crimson Text', serif;**/