body {
  background-color: rgb(255, 149, 137)
}

img.small {
  width: 200px;
  align: center;
}

h1 {
  font-family: 'Cagliostro', sans-serif;
  font-size: 24px;
  color: rgb(6, 105, 80);
}
table {
  empty-cells: hide;
  border: solid black 2px;
  margin: 30px;
}

td {
	padding: 10px;
	border: 15px;
  border: 1px solid black;
  background: white;
}

th {
  background-color: rgb(104, 233, 201);
  font-weight: bold;
  text-align: center;
}
tr:nth-child(even) {
  background-color: lightgray;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}



/*font-family: 'Crimson Text', serif;**/