body {
  background-color: rgb(255, 255, 204);
}

h1 {
  color: rgb(250, 122, 107);
  font-family: 'Rammetto One', cursive;
  font-size: 2.5em;
  text-align: center;
}
h2, h3 {
  color: rgb(6, 105, 80);
  font-family: 'Cagliostro', sans-serif;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
img.xsmall {
  width: 150px;
  margin: 5px;
}
img.small {
  width: 280px;
  margin: 5px;
}

.column1 {
  float: left;
  margin: 1em;

} .column2 {
  float: right;
  margin: 1em;
  width: 70%;
}
.col1, .col2, .col3{
  float: left;
  margin: 1em;
  width: 30%;
}
nav ul {
  background: rgb(250, 122, 107);
  margin: .5em;
  padding: 5px;
}
nav li {
  display: inline;
  font-family: 'Cagliostro', sans-serif;
  margin-right: 50px;
}
nav li a {
  color: rgb(255, 255, 204);
}
nav li a:hover {
  color: white;
}
figure {
  float: left;
}
table.sales {
  empty-cells: hide;
  margin: 1em;
}
table.sales td:hover { 
   color: red;
   font-weight: bold;
}
tr, td {
  border-bottom: 2px solid rgb(6, 105, 80);
}
td {
  background: rgb(235, 235, 224);
	padding: .75em;
}
th {
  background-color: rgb(104, 233, 201);
  font-weight: bold;
  padding: .5em;
  text-align: center;
}
input {
  border: 2px solid rgb(6, 105, 80);
  display: block;
  margin: .5em;
  padding: .25em;
}
input:hover {
  border: 2px solid red;
}
legend {
  color: rgb(6, 105, 80);
  font-family: 'Cagliostro', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: .5em;
}
p {
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  margin: .5em;
}
/*font-family: 'Crimson Text', serif;**/